.App {
  display: flex;
  max-width: 100%;
  justify-content: center;
  background-image:
    radial-gradient(rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.73)),
    url('https://i.imgur.com/WHzF4be.jpg');
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.form {
  display: flex;
  position: relative;
  margin-top: 10px;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  z-index: 100;
}

.form>img {
  margin-bottom: 10px;
}

.form>input {
  margin: 10px;
}

.form>button {
  max-width: 50px;
  margin-top: 10px;
}

@media only screen and (min-width: 150px) and (max-width: 768px) {

  .form {
    width: 70%;
  }
}